@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("irccloud.com") {

$chat-font-family: "Consolas", "Monaco", "Source Code Pro", "Droid Sans Mono", monospace;
$chat-font-size: 14px;
$nick-display-prefix: "<";
$nick-display-suffix: ">";

$dark: false;

// Light
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;

@if $dark {
    // Dark
    $base3:    #002b36;
    $base2:    #073642;
    $base1:    #586e75;
    $base0:    #657b83;
    $base00:   #839496;
    $base01:   #93a1a1;
    $base02:   #eee8d5;
    $base03:   #fdf6e3;
}

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

td.nickcell a.nick,
td.inputcell textarea,
div.log div.messageRow,
div.log div.me a.user {
    font-family: $chat-font-family !important;
    font-size: $chat-font-size !important;
}

body,
.mainContainer,
#buffers li.connection {
    background-color: $base3 !important;
}

#sidebar #limits,
div.memberwrapper,
.bufferHead {
    background-color: $base2 !important;
    border: none !important;
}

#statusActions b,
#statusActions strong,
td.statuscell div.status h2.bufferHeading span.label {
    color: $base01 !important;
}

.extras span.extrasBar {
    background-color: $cyan !important;
}

#buffers span.badge,
.extras .extrasBadge {
    background-color: $red !important;
    border: none !important;
    padding: 0 0.45em !important;
    border-radius: 1em !important;
}

.extras span.extrasDismiss {
    background-color: $orange !important;
}

p#addNetwork a,
#buffers h2 a.buffer {
    font-weight: 700;
    background-color: $base2 !important;
    border: none !important;
}

#buffers {
    a.buffer,
    p.join a,
    p.archiveToggle a {
        color: $base1 !important;

        &:hover {
            background-color: $base2 !important;
        }
    }

    .active {
        a.buffer {
            color: $base02 !important;
        }

        &.selected a.buffer,
        &.selected a.buffer:hover {
            color: $base3 !important;
            background-color: $violet !important;
        }
    }

    ul.buffers .active.unread a.buffer,
    h2.active.unread {
        border-color: $violet !important;
    }
}

p#addNetwork a {
    color: $base02 !important;
}

table.buffer {
    border: none !important;
    border-radius: 0 !important;
}

div.log {
    div.chat,
    div.status,
    div.notice,
    div.groupedLines,
    div.warning,
    div.error,
    div.table,
    div.me {
        color: $base00 !important;
    }

    div.monospace span.message,
    div.notice span.message,
    div.warning span.message,
    div.error span.message,
    div.groupedLines {
        font-family: $chat-font-family !important;
    }

    div.row span a.author {
        color: $base01 !important;
    }

    div.groupedLines,
    div.highlight,
    div.status,
    div.notice {
        background-color: $base2 !important;
    }

    div.warning {
        background-color: transparentize($yellow, 0.75) !important;
    }

    div.self {
        background-color: transparent !important;

        &.row a.author {
            color: $base0 !important;
        }
    }

    div.groupedJoinPart {
        border-color: $base2 !important;

        &:hover,
        &.expanded {
            background-color: $base2 !important;
            border-color: $base2 !important;
        }
    }

    div.joinPartGroup.expanded div.messageRow {
        background-color: $base3 !important;
    }

    div.lastSeen hr,
    div.bottomSeen hr,
    div.focusSeen hr,
    div.backlogDivider hr,
    div.fetch hr {
        border-color: $base1 !important;
    }

    div.fetch span,
    div.lastSeen span.text,
    div.bottomSeen span,
    div.focusSeen span {
        color: $base1 !important;
        background-color: $base3 !important;
    }

    div.row.highlight a.author,
    div.row.highlight td.nickcell a.nick {
        color: $magenta !important;
    }

    span.date {
        color: $base0 !important;
    }
}


td.nickcell a.nick {
    color: $base01 !important;
}

.row.type_buffer_msg {
    .author {
        &:after,
        &:before {
            font-weight: 400;
        }

        &:before {
            content: $nick-display-prefix !important;
        }

        &:after {
            content: $nick-display-suffix !important;
        }
    }
}

td.timecell {
    color: $base0 !important;
}

#footer {
    color: $base0 !important;
}

a,
#footer a,
#headercell a,
div.log a {
    color: $blue !important;

    &:hover {
        text-decoration: none !important;
    }
}

div.nickinputwrapper,
td.inputcell,
td.inputcell textarea {
    color: $base01 !important;
    background-color: $base2 !important;
}

div.nickinputwrapper {
    border-color: $base1 !important;
}

td.nickcell {
    border-color: $base1 !important;
    background: none !important;
}

div.log div.dateChange p,
div.dateWrapper table {
    color: $base01 !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
    background-color: $base2 !important;
    background-image: none !important;
    border: none !important;
    width: 95% !important;
    margin: 0.5em auto !important;
}

div.buffermain {
    background-color: transparent !important;
}

.inputInfo {
    background-color: $base2 !important;
    background-image: none !important;
    box-shadow: none !important;
    border-color: $blue !important;
    padding: 0.25em !important;

    span.hint {
        color: $base00 !important;
    }

    span.original {
        color: $base00 !important;
    }

    span.item {
      font-weight: 700;
      border: 1px solid transparent;
      margin-right: 0.25em;
    }

    span.highlight,
    span.item:hover {
        background-color: $base02 !important;
        border-radius: 0.15em;
    }

    span.highlight a {
        color: $base2 !important;
    }
}


// Modes

span.mode_symbol,
span.mode_pill {
    font-family: $chat-font-family !important;
    font-size: $chat-font-size !important;
}

div.log div.row span,
.inputInfo span,
.nickcell span,
#memberContextMenu h3 span {
    &.mode_OWNER {
        color: $yellow !important;
    }

    &.mode_ADMIN {
        color: $violet !important;
    }

    &.mode_OP {
        color: $red !important;
    }

    &.mode_HALFOP {
        color: $orange !important;
    }

    &.mode_VOICED {
        color: $green !important;
    }
}


// Nick colours

@mixin nick-color($name, $color) {
    div.log div.row span a.#{$name},
    div.log div.row span a.hover.#{$name}:hover,
    div.log div.row span a.hover.#{$name},
    ul.memberList li.hover a.#{$name},
    ul.memberList li a.#{$name}:hover {
      color: $color !important;
  }
}

.nick-colors {
    @if $dark {
        @include nick-color(c0,  $magenta);               // Hot Pink
        @include nick-color(c1,  darken($orange, 10%));   // Burnt Orange
        @include nick-color(c2,  $red);                   // Red
        @include nick-color(c3,  $orange);                // Orange
        @include nick-color(c4,  darken(red, 10%));       // Maroon
        @include nick-color(c5,  lighten($magenta, 10%)); // Pink
        @include nick-color(c6,  lighten($violet, 10%));  // Lavender
        @include nick-color(c7,  $violet);                // Purple
        @include nick-color(c8,  lighten($blue, 10%));    // Navy
        @include nick-color(c9,  $blue);                  // Royal Blue
        @include nick-color(c10, $cyan);                  // Teal
        @include nick-color(c11, $green);                 // Green
        @include nick-color(c12, lighten($green, 5%));    // Green2
        @include nick-color(c13, darken($cyan, 10%));     // Teal2
    } @else {
        @include nick-color(c0,  $magenta);               // Hot Pink
        @include nick-color(c1,  darken($orange, 10%));   // Burnt Orange
        @include nick-color(c2,  $red);                   // Red
        @include nick-color(c3,  $orange);                // Orange
        @include nick-color(c4,  darken(red, 10%));       // Maroon
        @include nick-color(c5,  lighten($magenta, 10%)); // Pink
        @include nick-color(c6,  lighten($violet, 10%));  // Lavender
        @include nick-color(c7,  $violet);                // Purple
        @include nick-color(c8,  lighten($blue, 10%));    // Navy
        @include nick-color(c9,  $blue);                  // Royal Blue
        @include nick-color(c10, $cyan);                  // Teal
        @include nick-color(c11, $green);                 // Green
        @include nick-color(c12, darken($green, 3.5%));   // Green2
        @include nick-color(c13, darken($cyan, 10%));     // Teal2
    }
}

}
